body{
    max-width:1300px;
    background-color: burlywood;
    margin:0px auto;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
    border-radius: 10px;
    background-color: antiquewhite;
    width:1000px;
    height:400px;
    padding: 30px;
    /* margin:0px auto; */
}
.hero-content button{
    border:1px solid black;
    border-radius: 5px;
    background-color: thistle;
    font-size:1.25em;
    padding:10px;
}
.hero-content button:hover{
    background-color: paleturquoise;
    color: maroon;
}
.hero-img img{
    width: 100%;
    height:300px;
    border-radius: 10px;
}