.our-product{
    text-align: center;
}
.card-container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    max-width:1100px;
    margin:0px auto;
}
.card{
    width:300px;
    border:1px solid rgba(175, 238, 238, 0.243);
    padding:20px;
    border-radius:10px;
    background-color: rgba(255, 192, 203, 0.42);
    font-size: 1.25rem;
}
.card:hover{
    background-color: plum;
}
.card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.card button{
    border: none;
    background-color: darksalmon;
    color: olive;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.25rem;
}