nav ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
    font-size:1.25rem;
}
nav a{
    text-decoration: none;
    color:palevioletred;
    font-style: oblique;
}
nav li:hover{
     background-color: antiquewhite;
}